<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-M">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Link to our central stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Japan Tax Hub{% endblock %}</title>
</head>
<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        © 2025 Japan Tax Helper. For educational purposes only.
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>